@tailwind base;
@tailwind components;
@tailwind utilities;
*:focus {
  outline: none !important ;
  pointer-event : none;
  opacity : 0.6;
}

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
}

body {
  -webkit-tap-highlight-color: transparent;
  box-sizing : border-box;
}
