.text {
  overflow : hidden;
  position : absolute;

}
.category_component{
     background-repeat: no-repeat;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;
    }
@keyframes slide {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(200px);
  }
}
.slideIn {
  transform: translate(0%);
}
.slideOut {
  transform: translate(300%);
}

