.text {
  overflow : hidden;
  position : absolute;

}
.category_component{
     background-repeat: no-repeat;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;
    }
@keyframes slide {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(200px);
  }
}
.slideIn {
  transform: translate(0%);
}
.slideOut {
  transform: translate(300%);
}


 .custom { 
    background-color : red;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    max-width: 6rem;
    margin-top: 3rem;
    margin-bottom: 3rem;
}
.custom:before,
.custom:after {
  content: "";
  position: absolute;
  border-radius: 50%;
  animation: pulsOut 1.8s ease-in-out infinite;
  filter: drop-shadow(0 0 1rem rgba(255, 255, 255, 0.75));
}
.custom:before {
  width: 100%;
  padding-bottom: 100%;
  box-shadow: inset 0 0 0 1rem #fff;
  animation-name: pulsIn;
}
.custom:after {
  width: calc(100% - 2rem);
  padding-bottom: calc(100% - 2rem);
  box-shadow: 0 0 0 0 #fff;
}
@keyframes pulsIn {
0% {
  box-shadow: inset 0 0 0 1rem #fff;
  opacity: 1;
}
50%, 100% {
  box-shadow: inset 0 0 0 0 #fff;
  opacity: 0;
}
}

@keyframes pulsOut {
0%, 50% {
  box-shadow: 0 0 0 0 #fff;
  opacity: 0;
}
100% {
  box-shadow: 0 0 0 1rem #fff;
  opacity: 1;
}
}
.skeletonAnimaiton {
  animation: skeleton-loading linear infinite alternate;
}
@keyframes skeleton-loading {
  0% {
    background-color: hsl(200, 20%, 70%);
  }
  100% {
    background-color: hsl(200, 20%, 95%);
  }
}

.videoContainer {
  position: relative;
  width: 100%;
  height: 710px;
  padding-bottom: 56.25%; /* 16:9 aspect ratio */
}

.videoObject {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.videoPreloader {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #000;
  display: flex;
  justify-content: center;
  align-items: center;
}

.videoPreloader:before {
  content: "";
  box-sizing: border-box;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  border: 6px solid #fff;
  border-top-color: #1abc9c;
  animation: spin 1s ease-in-out infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(360deg);
  }
}

